.products-outer {
    background-color: white;
    width: 100%;
}

.products-outer .products-container {
    width: 75%;
    margin: auto;
    padding: 80px 0;
}

.products-outer .products-container .heading {
    font-family: 'SemiBold';
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.04em;
    color: #1A181E;
    margin-bottom: 16px;
}

.products-outer .products-container .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}